
<ion-content  class="ion-padding">
	
	<div loginform>
		<div logo  class="ion-text-center">
		  <img src="assets/img/logo-white.png"/>
		  <p> Enter your OTP code here. </p>
		</div>
		<div form-login>
	<div class="opt-frms">
			<ion-row class="fls"> 
				<ion-col size="3">
					<ion-input type="tel" placeholder="0"  #otp1 (keyup)="otpController($event,otp2,'')" maxlength="1" [(ngModel)]="dg1"></ion-input>
				</ion-col>
				<ion-col size="3">
					<ion-input type="tel" placeholder="0" #otp2 (keyup)="otpController($event,otp3,otp1)" maxlength="1" [(ngModel)]="dg2"></ion-input>
				</ion-col>
				<ion-col size="3">
					<ion-input type="tel" placeholder="0" #otp3 (keyup)="otpController($event,otp4,otp2)" maxlength="1" [(ngModel)]="dg3"></ion-input>
				</ion-col>
				<ion-col size="3">
					<ion-input type="tel" placeholder="0" placeholder="0" #otp4 placeholder="0" #otp3 (keyup)="otpController($event,'',otp3)" maxlength="1" [(ngModel)]="dg4"></ion-input>
				</ion-col>
			</ion-row>
			<span error errormsg *ngIf="errors.indexOf(dg1) >= 0 && errors.indexOf(dg2) >= 0 && errors.indexOf(dg3) >= 0 && errors.indexOf(dg4) >= 0 && is_submit == true">Please enter otp</span>
		</div>
			<div login-btn>
				<ion-row>
				<ion-col size="10" offset="1">
				<ion-button (click)="verify()" expand="full">
				Reset Password
				</ion-button>
				</ion-col>
				</ion-row>
			</div>
		</div>
		<div btn-signup class="ion-text-center">
			<p>Back To <a routerLink="/" href="javascript:void(0)">Login</a></p>
		</div>
	</div>

</ion-content>
