<ion-header class="heder-main ion-no-border">
  <ion-toolbar lines="none" >
  	<ion-back-button routerLink="/tabs/dashboard" slot="start"><ion-icon name="arrow-back-outline"></ion-icon></ion-back-button>
    <ion-title class="ion-text-center"></ion-title>
	<!--ion-buttons slot="end"><ion-icon name="add-outline"></ion-icon></ion-buttons-->
	<ion-buttons slot="end" routerLink="/tabs/dashboard"><ion-icon name="home-outline"></ion-icon></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="top-search">
		<div class="src-trs">
			<span class="icon-drt" routerLink="/places-map"> <ion-icon name="globe-outline"></ion-icon> </span>
			<!-- <ion-input placeholder="Search here..."></ion-input> -->
			  <ngxgeo-autocomplete class="custom" [userSettings]="userSettings" (componentCallback)="autoCompleteCallback($event)"></ngxgeo-autocomplete>
			<!-- <span class="icon-sc-f"> <ion-icon name="funnel-outline"></ion-icon> </span> -->

           <!--  <ion-toolbar color="primary">
			<ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
			</ion-toolbar> -->
			
		</div>
		<!-- <ion-list [hidden]="autocompleteItems.length == 0">
			<ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
			{{ item.description }}
			</ion-item>
			</ion-list> -->
	</div>
	<div places-sec *ngIf="fav_places.length > 0">
		<div class="flts-alu">	
			<h2 mn-places-head>
				Favourite Places 

			<a href="javascript:void(0);" routerLink="/all-places">See All</a>
			</h2>
		</div>	
		<div  *ngFor="let place of fav_places; let i = index;" class="box-servc selected{{i}}" >
			<div class="img-b">
				<img *ngIf="place.data.image.length == 0" src="assets/img/image-not-found.png">
				<img *ngIf="place.data.image.length != 0" src="{{place.data.image}}">
				<span class="favor-icn selectplaces{{i}} selected" (click)="removeplace(place._id,i)"> <ion-icon name="heart"></ion-icon> </span>
			</div>
			<div class="cot-a">
				<h4> {{place.data.place.name}} </h4>
				<ngx-stars   *ngIf="(place.data.place.rating != '')" class="ng-start2" [color]="'#f8c50a'" [initialStars]="place.data.place.rating" [readonly]="true"  [size]="0.5"></ngx-stars>
				<ngx-stars   *ngIf="(place.data.place.rating == '')" class="ng-start2" [color]="'#f8c50a'" [initialStars]="0" [readonly]="true"  [size]="0.5"></ngx-stars>
				<p> <ion-icon name="location-outline"></ion-icon> {{place.data.distance}} from you </p>
				<span class="badg-catr" *ngFor="let type of place.data.results_l.types"> {{((type).replace('_', ' ')).replace('_', ' ')}} </span>
				<a href="javascript:void(0)"  (click)="gotodetail('/place-interest-details/'+place.data.place.placeId,place.data,'already',place._id)" class="book-now"> Details </a>
			</div>
		</div>	
	</div>
	<div places-sec>
		<div class="flts-alu">	
			<h2 mn-places-head>
				Places of Interests 
			</h2>
		</div>	
		<div  *ngFor="let place of places_data; let i = index;" class="box-servc selected{{i}}" >
			<div class="img-b">
				<img *ngIf="place.image.length == 0" src="assets/img/image-not-found.png">
				<img *ngIf="place.image.length != 0" src="{{place.image}}">
				<span class="favor-icn selectplace{{i}}" (click)="selectplace(place,i)"> <ion-icon name="heart"></ion-icon> </span>
			</div>
			<div class="cot-a">
				<h4> {{place.place.name}} </h4>
				<ngx-stars   *ngIf="(place.place.rating != '')" class="ng-start2" [color]="'#f8c50a'" [initialStars]="place.place.rating" [readonly]="true"  [size]="0.5"></ngx-stars>
				<ngx-stars   *ngIf="(place.place.rating == '')" class="ng-start2" [color]="'#f8c50a'" [initialStars]="0" [readonly]="true"  [size]="0.5"></ngx-stars>
				<p> <ion-icon name="location-outline"></ion-icon> {{place.distance}} from you </p>
				<span class="badg-catr" *ngFor="let type of place.results_l.types"> {{((type).replace('_', ' ')).replace('_', ' ')}} </span>
				<a href="javascript:void(0)" (click)="gotodetail('/place-interest-details/'+place.place.placeId,place,'not',place.place.placeId)"  class="book-now"> Details </a>
			</div>
		</div>	
	</div>

<!-- 	<div class="map-wrapper" style="height: 100%;">      
    <div id="map_center">
      <ion-icon name="pin" size="large" color="danger"></ion-icon>      
    </div>
    <div #map id="map"  style="height: 100%;"></div>
  </div> -->
</ion-content>
