ion-content {
	background:var(--ion-color-gradient1);
	--background:var(--ion-color-gradient1);
	.ig-box-pos {
		position: relative;
		height: 100%;
		// border: 2px solid red;
		// img.btn-tack {
		// 	height: 100%;
		// 	width: 100%;
		// 	display: block;
		// 	object-fit: cover;
		// }
		.top-search {
			top: 20px;
			position: absolute;
			background: #fff;
			left: 20px;
			right: 20px;
			border-radius: 50px;
			display: flex;
			align-items: center;
			padding: 2px 10px;
			span.icon-str   {
				width: 39px;
				text-align: center;
				font-size: 20px;
				position: relative;
				top: 2px;
			}
		}
	}

	.text{
		position: absolute;
		top: 80px;
		left: 22px;
			right: 22px;
	
	}
	.bottom-btns {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255, 255, 255, 0.85);
		padding: 15px 12px;
		display: flex;
		align-items: center;
		.cancl {
			flex: 1;
			display: block;
			background: #f44336;
			margin: 0 3px;
			text-align: center;
			color: #fff;
			text-decoration: none;
			padding: 12px 0;
			font-size: 14px;
			border-radius: 50px;
			font-weight: 500;
			letter-spacing: 0.5px;
		}
		.slects {
			flex: 1;
			display: block;
			background: var(--ion-color-gradient1);
			margin: 0 3px;
			text-align: center;
			color: #fff;
			text-decoration: none;
			padding: 12px 0;
			font-size: 14px;
			border-radius: 50px;
			font-weight: 600;
			letter-spacing: 0.5px;
		}
	}
}	

.demo {
width: 100%;
	#search_places {
		width: 100%;
		background: #fff;
		--background: #fff;
		padding-left: 10px;
		--box-shadow: none;
		--font-size: 12px;
		padding-right: 20px;
		box-shadow: 0 0 10px rgba(0,0,0, .05);
		height: 46px;
		margin: 0 0 2px;
		border:1px solid #eee;
		border-radius: 10px;
			input{
				background:#fff;
			}
	}
}

#map {
  height: 100%;
}

::ng-deep{
	.custom-autocomplete__input{
        input{
            overflow: hidden !important;
            background-color: #fff !important;
            text-overflow: ellipsis !important;
			border: 0 !important;
            font-size: 16px !important;
            border-radius: 10px !important;
			outline: none;
        }
      
	}
}