ion-content {
	--background: var(--ion-color-gradient);

	[loginform] {
		display: block;
		width: 100%;
		padding: 0px 15px;

		[logo] {
			margin-bottom: 30px;
			margin-top: 30px;
			width: 100%;

			img {
				height: 53px;
			}
		}

		[login-btn] {
			ion-button {
				min-height: 56px;
				--box-shadow: none;
				font-weight: 500;
				border-radius: 12px;
				--border-radius: 12px;
				overflow: hidden;
				--background: var(--ion-color-white);
				--color: var(--ion-color-primary);
				text-transform: capitalize;
				font-size: 16px;
				margin: 15px 0px 0px;
			}
		}

		[btn-signup] {
			color: var(--ion-color-white);
			font-weight: 500;
			padding-top: 50px;
			padding-bottom: 20px;
			width: 100%;

			p {
				font-size: 14px;
				margin: 0px 0px;
				letter-spacing: 1px;

				a {
					color: var(--ion-color-white);
					font-weight: 500;
					text-decoration: none;
				}
			}
		}

		[form-group] {
			margin-bottom: 25px;

			label {
				font-size: 15px;
				margin-bottom: 0px;
				display: block;
				padding: 0px 0px;
				color: var(--ion-color-white);
				font-weight: 400;
			}

			ion-item {
				border-bottom: 2px solid rgba(255, 255, 255, 0.2);
				border-radius: 0px;
				--background: transparent;
				--padding-start: 0px;
				--min-height: 42px;
				--inner-padding-end: 0px;

				ion-label {
					margin: 0px;

					ion-icon {
						color: var(--ion-color-white);
						font-size: 22px;
					}
				}

				ion-input {
					color: var(--ion-color-white);
					--placeholder-opacity: 1;
					font-size: 13px;
					--padding-start: 0px;
					--padding-top: 8px;
					--padding-bottom: 8px;
				}
			}
		}

		[search] {
			background-color: yellow;
			width: 100px;

		}
	}
}

span[errormsg] {
	color: #ffff;
}

ion-select {
	--placeholder-opacity: 1;
	color: #fff;
}

ion-label.mainevents {
	pointer-events: all !important;
}

// .selectcountry  {
// 	ngxgeo-autocomplete {
// 		background-color: aqua !important;
// 	}
// }
.selectcountry {}

button.search-icon {
	position: absolute;
	right: 0;
	width: 40px;
	top: 0;
	background-color: transparent;
	border-bottom: 0;
	border-top: 0;
	border-right: 0;
	border-left: 0px solid #ccc;
	// margin-bottom: 8px;
	color: #fff;
}

// padding-right: 60px;
// width: 100px;
// background: transparent;
// border-bottom: 2px solid white;

input#search_places {
	color: white;
	background: transparent;
	padding: 0px;
	border: none;
	// border-bottom: 1px solid white;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
	// margin-bottom: 8px;
}

// ngxgeo-autocomplete{
// 	background-color: red;
// 	color: red;
// 	border: 2px solid green;
// 	width: 200px;
// }
.con {
	// margin-bottom: 18px;
	height: 70px;
}

.gender{
	
	padding: 8px 3px;
	background: transparent;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

ion-datetime {
    color: #fff;
}