ion-content
{
    --background: var(--ion-color-gradient);
	[loginform]
	{
		display: flex;
		width: 100%;
		padding: 0px 15px;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
		[logo]
		{
			margin-bottom: 30px;
			margin-top: 30px;
			width:100%;
			img
			{
				height: 53px; 
			}
		}
		[login-btn]
		{
			ion-button
			{ 
				min-height: 56px;
				--box-shadow: none;
				font-weight: 500;
				border-radius: 12px;
				--border-radius: 12px;
				overflow: hidden;
				--background: var(--ion-color-white);
				--color: var(--ion-color-primary);
				text-transform: capitalize;
				font-size: 16px;
				margin: 15px 0px 0px;
			}
		}
		[btn-signup]
		{
			color: var(--ion-color-white);
			font-weight: 500;
			padding-top: 50px;
			padding-bottom: 20px;
			width:100%;
			p
			{
			    font-size: 14px;
				margin: 0px 0px;
			    letter-spacing: 1px;	
				a
				{
					color:var(--ion-color-white);
					font-weight: 500;
					text-decoration:none;
				}
			}
		}
		[form-login]
		{
		    width:100%;
			[form-group]
			{    
				margin-bottom: 25px;
				&[forgot]
				{
					a
					{
						color:var(--ion-color-white);
						font-weight: 400;
						text-decoration:none;
						font-size: 14px;
					}
				}
				label 
				{
					font-size: 15px;
					margin-bottom: 0px;
					display: block;
					padding: 0px 0px;
					color: var(--ion-color-white);
					font-weight: 400;
				}

				ion-item
				{
					border-bottom: 2px solid rgba(255,255,255,0.2);
					border-radius: 0px;
					--background: transparent;
					--padding-start: 0px;
					--min-height: 42px;
					--inner-padding-end: 0px;
					ion-label 
					{
						margin: 0px;
						ion-icon
						{
							color:var(--ion-color-white);
							font-size: 22px;
						}				
					}			
					ion-input
					{
						color:var( --ion-color-white);
						--placeholder-opacity:1;
						font-size: 13px;
						--padding-start: 0px; 
						--padding-top: 8px;
						--padding-bottom: 8px;   				
					}
				}
			}
		}
	}
}

span[errormsg] {
     color: #ffff;
}