<!--ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header-->

<ion-content>
	<div class="top-headr">
		<img class="usr-imgt" src="assets/img/logo-white.png" alt="">
	</div>
	<div class="date-cont">
	    <ion-row>
			<ion-col size="6">
			    <div box-sec profilesec routerLink="/tabs/profile">
				    <h4>Profile</h4>
					<img src="assets/img/profile.png" alt="">
				</div>
			</ion-col>
			<ion-col size="6">
			    <div box-sec connect routerLink="/future-connect">
				    <h4>Connect</h4>
					<img src="assets/img/connect.png" alt="">
				</div>
			</ion-col>
			<ion-col size="6">
			    <div box-sec future-connect routerLink="/search-trip">
				    <h4>Future Connect</h4>
					<img src="assets/img/future-connect.png" alt="">
				</div>
			</ion-col>
			<ion-col size="6">
			    <div box-sec places routerLink="/places-of-interests">
				    <h4>Places Of Interests</h4>
					<img src="assets/img/places.png" alt="">
				</div>
			</ion-col>
			<ion-col size="6" routerLink="/my-trips">
			    <div box-sec trip>
				    <h4>My Trip</h4>
					<img src="assets/img/trip.png" alt="">
				</div>
			</ion-col>
			<ion-col size="6">
			    <div box-sec emergency routerLink="/emergency-button">
				    <h4>Emergency</h4>
					<img src="assets/img/emergency.png" alt="">
				</div>
			</ion-col>
		</ion-row>
	</div>
</ion-content>
